.btn {
  display: inline-block;

  padding: 0.3em;
  border: solid 2px #000;
  border-radius: 1em;
  font: bold 1em;
  color: #fff;
  background-color: #834; 
  text-decoration: none;
  clear: left; 
  text-align: center;
}

.btn2 {
position: static;
  display: inline-block;
  padding: 0.3em;
  border: solid 2px #000;
  border-radius: 3em;
  font: bold 1em;
  color: #ddd;
  background-color: #834;
  text-decoration: none;
  clear: left; 
  text-align: center;
}
.table_content {
  clear: left; 
  text-align: center;
}
.table_header {
  clear: left; 
  text-align: center;
}
.updated_text {
 font-size: 50%; 
 text-align: right;
}
.wrapper {
  text-align: center;
}