.currency_site_currency_form {
  padding: 0.3em;
  border: solid 2px #fff;
  border-radius: 2em;
  font: bold 1em;
  color: #fff;
  background-color: #39F; 
  text-decoration: none;
  text-align: center;  
  display: none; 
}

.currency_site_site_form {
  padding: 0.3em;
  border: solid 2px #fff;
  border-radius: 3em;
  font: bold 1em;
  color: #fff;
  background-color: #39F; 
  text-decoration: none;
  text-align: center;   
  display: none;
}