
.btn {
  display: inline-block;

  padding: 0.3em;
  margin-left: 2em;
  margin-bottom: 0.3em;
  border: solid 2px #fff;
  border-radius: 1em;
  font: bold 1em;
  color: #fff;
  background-color: #834; 
  text-decoration: none;
}

.btn2 {
  display: inline-block;

  padding: 0.3em;
  margin-left: 2em;
  margin-bottom: 0.3em;
  border: solid 2px #fff;
  border-radius: 1em;
  font: bold 1em;
  color: #fff;
  background-color: #834;
  text-decoration: none;
}