<%# add navigation links to this file %>
  <li class="name"><%= link_to 'New watched site', new_site_path %></li>
  <li class="name"><%= link_to 'New watched currency for a site', new_currency_site_path %></li>
  <li class="name"><%= link_to 'Delete sites or currencies for sites', sites_path %></li>
